xsd/NA3.0/Entity/SIFglobalBaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--version 3.00.13-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="gAbstractContentElementType">
		<xs:annotation>
			<xs:documentation>An abstract type for derived content package types, elements and objects.  This structure may be used verbatim, or may be redefined to include only a subset of child elements and/or to add validation to XML contained in XMLData.  Only one instance of XMLData, TextData, BinaryData or reference can occur in a single instance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xmlData" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="lax" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="description" type="xs:token" use="optional">
						<xs:annotation>
							<xs:documentation>Contains an optional description of the content or a processing hint with regard to its structure (e.g. named standard, file layout or XSD).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="textData" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains arbitrary text, encoded in UTF-8.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="mimeType" type="xs:token" use="optional">
								<xs:annotation>
									<xs:documentation>Optional MIME type to specifically indicate the text type.  Otherwise text/plain can be assumed.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="fileName" type="xs:token" use="optional">
								<xs:annotation>
									<xs:documentation>Optional file name to indicate the file from which the content originated, or to suggest a name to use when saving the content.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="description" type="xs:token" use="optional">
								<xs:annotation>
									<xs:documentation>Contains an optional description of the content or a processing hint with regard to its structure (e.g. named standard, file layout or XSD).
				Contents may be mandated in instances of this type, or types that follow the AbstractContentPackageType pattern.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="binaryData" type="xs:base64Binary" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the base64Binary encoding of binary or text data not encoded in UTF-8.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reference" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" type="xs:anyURI" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Location of external content.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="mimeType" type="xs:token" use="required">
						<xs:annotation>
							<xs:documentation>MIME type to indicate the content type to be expected when retrieving the external content.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="description" type="xs:token" use="optional">
						<xs:annotation>
							<xs:documentation>Contains an optional description of the content or a processing hint with regard to its structure (e.g. named standard, file layout or XSD).	</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gCodedElementType">
		<xs:annotation>
			<xs:documentation>An element that is defined by a set of codes.  In SIF this is a list separate from the XSD. Annotations in the XSD where the code is instantiated identify which code set to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:token"/>
			<xs:choice minOccurs="0">
				<xs:element name="hexValue">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="hexValueDashed">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:pattern value="[0-9A-F]{2}\-[0-9A-F]{2}\-[0-9A-F]{2}\-[0-9A-F]{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element name="otherCodeList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of other codes or strings that crosswalk to or serve as translations of the Code element paired with this common element. If Code changes and OtherCodes are supported, both Code and all associated OtherCode elements must be present.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="otherCode" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:token">
										<xs:attribute name="codesetName"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="codesetName" use="required"/>
	</xs:complexType>
	<xs:complexType name="gEmailType">
		<xs:annotation>
			<xs:documentation>An email address.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:normalizedString"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="gExternalIdAuthorityType">
		<xs:annotation>
			<xs:documentation>Authority issuing external identifier, or type of external identifier, in case more than one is common in the system (as is the case with the UK: UPN vs ULN). The distinction between a state-level national identifier would also be made here.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:complexType name="gExternalIdType">
		<xs:annotation>
			<xs:documentation>The external (to the local system) identifier as assigned by a government authority (typically state or province in a federal system, national in a centralized system).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="gLocalIdType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="gFractionDecimal">
		<xs:annotation>
			<xs:documentation>A real number between 0 and 1, with two digits of precision.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:maxInclusive value="1"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="gGridLocationType">
		<xs:annotation>
			<xs:documentation>Location specified using latitude and longitude.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="latitude">
				<xs:annotation>
					<xs:documentation>Latitude in decimal degrees.</xs:documentation>
					<xs:appinfo>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-90"/>
						<xs:maxInclusive value="90"/>
						<xs:totalDigits value="8"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="longitude">
				<xs:annotation>
					<xs:documentation>Longitude in decimal degrees.</xs:documentation>
					<xs:appinfo>
						<sifChar>O</sifChar>
						<cedsId/>
						<cedsURL/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-180"/>
						<xs:maxInclusive value="180"/>
						<xs:totalDigits value="9"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="gLocalIdType">
		<xs:annotation>
			<xs:documentation>The locally assigned identifier associated with an entity. This is in contrast to the external identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="gObjectNameType">
		<xs:annotation>
			<xs:documentation>An unenumerated SIF object name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NCName">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="gOtherIdType">
		<xs:annotation>
			<xs:documentation>An other or alternate identifier associated with a person or other entity.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="gLocalIdType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="gPartialDateType">
		<xs:annotation>
			<xs:documentation>A year, with an optional month/day, or an optional month by itself.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:gYear xs:gYearMonth xs:date"/>
	</xs:simpleType>
	<xs:complexType name="gRefIdPointerType">
		<xs:annotation>
			<xs:documentation>A refId that refers to an instance of a SIF object. The RefId points to the object instance. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="gUUIDType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="gGenericRefIdPointerType">
		<xs:annotation>
			<xs:documentation>A refId that refers to a generic (specified by the data) instance of a SIF object. The RefId points to the object instance and the sif_RefObject specifies the name of the SIF Object. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="gUUIDType">
				<xs:attribute name="sif_Object" type="gObjectNameType" use="required">
					<xs:annotation>
						<xs:documentation>The name of the SIF object that is being refereced by the payload of this element.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="gRefIdType">
		<xs:annotation>
			<xs:documentation>An object or element identifier. RefIdType are immutable, and unique to an object in a SIF zone.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="gUUIDType"/>
	</xs:simpleType>
	<xs:complexType name="gStateProvinceType">
		<xs:annotation>
			<xs:documentation>The identifier for this entity as assigned by a government authority (typically state or province in a federal system, national in a centralized system).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gCodedElementType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="gSexusType">
		<xs:annotation>
			<xs:documentation>Sex of a person. This is different from gender. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="gUUIDType">
		<xs:annotation>
			<xs:documentation>UUID, used as object identifier. UUIDs are to be generated using version 1 or 4 as specified in RFC 4122, section 4.1.3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[14][a-fA-F0-9]{3}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gYesNoUnknownType">
		<xs:annotation>
			<xs:documentation>Extension of Boolean to capture Unknown as a possible value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="No"/>
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="Yes"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
